.Title
{
    text-align: center;
    color: #ff00bfb3;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;

}
.Title h2{
    font-size: 32px;
    color: #000000;
    margin-top: 5px;
    text-transform: none;
}